@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
	--color-primary-blue: #052026;
	--color-light-blue: #00d4ff;
	--color-dark-nav: #222222;
	--color-dark-blue: #055d6e;
}

body {
	font-family: "Inter", sans-serif;
	background-color: black;
}
/* Custom scroll bar */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-thumb {
	background-color: #ffffff;
	border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #f7f7f7;
}
::-webkit-scrollbar-track {
	background-color: #f1f1f1;
	border-radius: 4px;
}

/* For firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #ffffff #f1f1f1;
}
