@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
	--color-sage: #c9cbba; /* new-color-two */
	--color-light-gray: #f2f2f2; /* new-color-one */
	--color-gray: #d9d9d9; /* new-color-three */
	--color-dark-gray: #bfbfbf; /* new-color-four */

	/* Mapping to existing vars to create a "sage/gray" theme */
	--color-primary-blue: #052026; /* Keeping for dark/contrast, but we might want to change this */
	--color-light-blue: #c9cbba; /* Replacing the bright blue with sage */
	--color-dark-nav: #222222;
	--color-dark-blue: #bfbfbf;
	--color-blue-nav: #787878;
}

body {
	font-family: "Inter", sans-serif;
	background-color: black;
}
/* Custom scroll bar */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-thumb {
	background-color: #ffffff;
	border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #f7f7f7;
}
::-webkit-scrollbar-track {
	background-color: #f1f1f1;
	border-radius: 4px;
}

/* For firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #ffffff #f1f1f1;
}
